# Node.js backend
backend/node_modules/
backend/.env
backend/dist/
backend/build/

# Logs
*.log

# OS-specific
.DS_Store
Thumbs.db
frontend/.env

# React Native (frontend)
node_modules/
android/
ios/
*.apk
*.keystore
